$accent-color: #39cdcc;
$accent-light: rgb(55, 205, 205, 0.06);
$primary-color: #213f7d;
$secondary-color: #545f7d;
$secondary-light: rgba(84, 95, 125, 0.149);
$light-gray-color: #fbfbfb;
$red: rgba(228, 3, 59, 1);
