@import '../../global/variables';

.users {
  width: 100%;
  background: #fff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 30px;
  margin: 30px 0;

  &_header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
    gap: 1rem;

    p {
      text-transform: uppercase;
      display: flex;
      font-size: 12px;
      font-weight: 600;
      align-items: center;
      gap: 4px;
      color: $secondary-color;
    }
  }

  .no_users {
    padding: 30px 0;
    color: $secondary-color;
  }

  .user_item {
    padding: 20px 0;
    border-bottom: 1px solid $secondary-light;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
    gap: 1rem;
    text-transform: capitalize;
    position: relative;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    span {
      padding: 6px 12px;
      border-radius: 48px;
      font-size: 13px;
      text-align: center;
    }
    .active {
      color: rgba(57, 205, 98, 1);
      background: rgba(57, 205, 98, 0.06);
    }
    .pending {
      color: rgba(233, 178, 0, 1);
      background: rgba(233, 178, 0, 0.1);
    }
    .blacklisted {
      color: rgba(228, 3, 59, 1);
      background: rgba(228, 3, 59, 0.1);
    }
    .inactive {
      color: rgba(84, 95, 125, 1);
      background: rgba(84, 95, 125, 0.06);
    }

    .more_icon {
      position: absolute;
      background: none;
      font-size: 20px;
      color: $secondary-color;
      top: 22px;
      right: -20px;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: $primary-color;

  .pagination {
    display: flex;
    gap: 16px;

    span {
      cursor: pointer;
    }

    svg {
      font-size: 16px;
    }

    .btn_active {
      cursor: pointer;
      color: $secondary-color;

      svg {
        color: $secondary-color;
      }
    }
    .btn_disabled {
      cursor: not-allowed;
      color: $secondary-light;

      svg {
        color: $secondary-light;
      }
    }
  }

  .page_limit {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      padding: 8px;
      background: $secondary-light;
      color: $primary-color;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 16px;
      cursor: pointer;
      font-weight: 600;
    }
  }
}
