@import '../../global/variables';

.user {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  &_grid {
    padding: 16px;
    display: grid;
    grid-template-columns: 1;
    gap: 30px;

    &_details {
      display: flex;
      align-items: center;
      gap: 20px;

      .avatar {
        border-radius: 50%;
      }

      .name_and_id {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-right: 30px;
        border-right: 1px solid $secondary-light;

        .name {
          font-size: 22px;
          font-weight: 600;
          color: $primary-color;
        }
        .id {
          font-weight: 400;
          font-size: 14px;
          color: $secondary-color;
          text-transform: uppercase;
        }
      }
    }

    &_tier {
      border-right: 1px solid $secondary-light;

      &_rating {
        margin-top: 8px;
        color: $yellow;
      }
    }

    &_account .balance {
      margin-bottom: 8px;
    }
  }

  &_nav {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;

    li {
      padding: 10px;
      width: 90%;
      text-align: center;
      cursor: pointer;
      transition: 0.3s ease-out;
      border-bottom: 2px solid #fff;

      &:nth-child(1) {
        color: $accent-color;
        border-bottom: 2px solid $accent-color;
      }

      &:hover {
        color: $accent-color;
        border-bottom: 2px solid $accent-color;
        transition: 0.3s ease-in;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .user_grid {
    padding: 24px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .user_nav {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .user_grid {
    padding: 24px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .user_nav {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .user_nav {
    grid-template-columns: repeat(6, 1fr);
  }
}
